.title-link {
  font-size: 2em;
  font-weight: 600;
  font-family: $poppins-font;
  color: #cee0e4;
  text-decoration: none;
}

.copyright-text {
  color: #cee0e4;
  font-family: $poppins-font;
}

.arcana-text {
  text-align: center;
  color: #f4c7c7;
  font-size: 2em;
  font-family: $poppins-font;
}

.about-text {
  font-family: $poppins-font;
}