.nav-item-title {
  @include nav-item(0);
  font-weight: 600;
  font-size: 1em;
}

.nav-item-link {
  @include nav-item(0.5em);
}

.menu-item-link {
  @include nav-item(0.5em);
}

.copyright-text {
  color: $light-blue;
  font-size: smaller;
}

.arcana-text {
  text-align: center;
  color: #f4c7c7;
  font-size: 1em;
  font-weight: 600;
}

