.nav-item-title {
  @include nav-item(0);
  font-weight: 600;
  font-size: 1.5em;
}

.nav-item-about {
  @include nav-item(0.5em);
}

.nav-item-contact {
  @include nav-item(0.5em);
}

.nav-item-collages {
  @include nav-item(0.5em);
}

.nav-item-poems {
  @include nav-item(0.5em);
}

.copyright-text {
  color: $light-blue;
  font-size: smaller;
}

.arcana-text {
  text-align: center;
  color: #f4c7c7;
  font-size: 1.5em;
  font-weight: 600;
}

