$light-blue: #cee0e4;
$dark-blue: #3d566f;
$light-pink: #f4c7c7;
$poppins-font: 'Poppins', sans-serif;

@mixin nav-item($padding) {
  font-size: 1em;
  font-weight: 400;
  color: $light-blue;
  text-decoration: none;
  padding: $padding;
}

@mixin collage-item() {
  padding-bottom: 1em;
}

@mixin tarrot-card() {
  max-width: 400px;
  height: auto;
  padding: 0 10px;
}

@mixin icon-links() {
  width: 2em;
  height: 2em;
}

@mixin error-message() {
  display:block;
  color: $light-pink;
  margin-bottom: 1em;
}